{
  "branches": ["main"],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "angular"
    }],
    ["@semantic-release/release-notes-generator"],
    ["@semantic-release/changelog"],
    ["@semantic-release/git", {
      "assets": ["version.txt", "CHANGELOG.md"],
      "message": "ci: Release ${nextRelease.version} [skip ci]"
    }],
    ["@semantic-release/github"]
  ]
}
